#wrap {
  position: relative;
  min-width: 1200px;
}
@media screen and (max-width:640px) {
  #wrap {
    min-width: 100%;
  }
}
#wrap > .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #ffffff;
}
#wrap > .loading > p {
  width: 64px;
  height: 64px;
  text-indent: -9999px;
  background-image: url(./../images/loading.gif);
}
#wrap > h1 {
  position: absolute;
  left: 50%;
  z-index: 100;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
  transform: translate(-50%, 0);
}
#wrap > #home {
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width:640px) {
  #wrap > #home {
    background-image: url(./../images/visual.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
#wrap > #home:before {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: 0.5;
  content: "";
}
#wrap > #home > .intro {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
}
@media screen and (max-width:640px) {
  #wrap > #home > .intro {
    top: 25%;
    padding-bottom: 30px;
  }
}
#wrap > #home > .intro > h2 {
  color: #52b3d9;
  font-size: 60px;
  line-height: 80px;
}
@media screen and (max-width:640px) {
  #wrap > #home > .intro > h2 {
    font-size: 38px;
    line-height: 50px;
  }
}
#wrap > #home > .intro > h2 > span {
  color: #68c3a3;
}
@media screen and (max-width:640px) {
  #wrap > #home > .intro > h2 > span {
    display: block;
  }
}
#wrap > #home > .intro > p {
  margin-top: 24px;
  color: #ffffff;
  line-height: 1.8;
  letter-spacing: 1px;
}
@media screen and (max-width:640px) {
  #wrap > #home > .intro > p > span {
    display: block;
  }
}
#wrap > #home > .intro > .myico {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin: 40px auto 0;
}
@media screen and (max-width:640px) {
  #wrap > #home > .intro > .myico {
    margin-top: 80px;
  }
}
#wrap > #home > .intro > .myico > span {
  display: block;
  width: 40px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  transform: rotate(45deg);
  transition: all 0.4s;
}
#wrap > #home > .intro > .myico > span:hover {
  background-color: #52b3d9;
  border-color: transparent;
  cursor: pointer;
}
#wrap > #home > .intro > .myico > span > i {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  transform: rotate(-45deg);
}
#wrap > #home > .mouse {
  position: absolute;
  left: 50%;
  bottom: 40px;
  width: 30px;
  height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 15px;
  transform: translate(-50%, 0);
}
@media screen and (max-width:640px) {
  #wrap > #home > .mouse {
    display: none;
  }
}
@keyframes mousewheel {
  0% {
    top: 5px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 20px;
    opacity: 0;
  }
}
#wrap > #home > .mouse > .wheel {
  position: absolute;
  left: 50%;
  top: 5px;
  width: 4px;
  height: 10px;
  text-indent: -9999px;
  background-color: #ffffff;
  border-radius: 2px;
  transform: translate(-50%, 0);
  animation: mousewheel 1s linear infinite;
}
#wrap > #home > .bgmov {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
}
@media screen and (max-width:640px) {
  #wrap > #home > .bgmov {
    display: none;
  }
}
#wrap > #home > .bgmov > video {
  min-width: 100%;
  min-height: 100%;
}
#wrap header {
  width: 100%;
  min-width: 1200px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}
@media screen and (max-width:640px) {
  #wrap header {
    min-width: 100%;
  }
}
#wrap header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}
#wrap header > .container {
  position: relative;
  height: 66px;
}
#wrap header > .container > h2 {
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url(./../images/logo.png);
  background-repeat: no-repeat;
}
#wrap header > .container > h2 > a {
  display: block;
  height: 32px;
  color: #2c3e50;
  line-height: 32px;
  text-indent: 40px;
  text-transform: uppercase;
}
#wrap header > .container > button {
  display: none;
}
@media screen and (max-width:640px) {
  #wrap header > .container > button {
    background: none;
    border: none;
    outline: none;
    display: block;
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translate(0, -50%);
    width: 24px;
    height: 18px;
    text-indent: -9999px;
    background-image: url(./../images/mnu_btn.png);
    background-position: center center;
    background-repeat: no-repeat;
  }
  #wrap header > .container > button.clse {
    background-image: url(./../images/clse_btn.png);
  }
}
#wrap header > .container > nav {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translate(0, -50%);
}
@media screen and (max-width:640px) {
  #wrap header > .container > nav {
    display: none;
    right: initial;
    left: 0;
    top: 66px;
    width: 100%;
    transform: initial;
    border-top: 1px solid black;
  }
}
#wrap header > .container > nav > .gnb {
  display: flex;
}
@media screen and (max-width:640px) {
  #wrap header > .container > nav > .gnb {
    display: initial;
  }
}
@media screen and (max-width:640px) {
  #wrap header > .container > nav > .gnb > li {
    background-color: #ffffff;
    border-bottom: 1px solid black;
  }
}
#wrap header > .container > nav > .gnb > li > a {
  display: block;
  padding: 0 15px;
  color: #3c3c3c;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.2s;
}
@media screen and (max-width:640px) {
  #wrap header > .container > nav > .gnb > li > a {
    height: 48px;
    padding: 0;
    line-height: 48px;
    text-indent: 7%;
  }
}
#wrap header > .container > nav > .gnb > li:hover > a, #wrap header > .container > nav > .gnb > li.on > a {
  color: #52b3d9;
}
#wrap header ~ section {
  outline: 1px solid red;
  padding-top: 80px;
}
#wrap header ~ section > h2 {
  color: #2c3e50;
  font-size: 50px;
  line-height: 50px;
  text-align: center;
}
#wrap header ~ section > h2:after {
  display: block;
  width: 138px;
  height: 15px;
  margin: 30px auto 0;
  background-image: url(./../images/deco_tit.png);
  content: "";
}
#wrap #aboutme > .container > .profile {
  width: 33.33333%;
}
#wrap #aboutme > .container > .profile > div {
  width: 360px;
  margin: 0 auto;
  border: 1px solid #d5d5d5;
  border-radius: 0 0 10px 10px;
}
#wrap #aboutme > .container > .profile > div > .myphoto {
  overflow: hidden;
  background-image: url(./../images/aboutme/photo-frame.png);
  background-position: 0 bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
#wrap #aboutme > .container > .profile > div > .myphoto > img {
  display: block;
  position: relative;
  z-index: -1;
  width: 120%;
  margin: -100px 0 0 -30px;
}
#wrap #aboutme > .container > .profile > div > ol {
  padding: 0 20px;
}
#wrap #aboutme > .container > .profile > div > ol > li {
  height: 45px;
  font-weight: 300;
  font-size: 16px;
  line-height: 45px;
  border-bottom: 1px solid black;
}
#wrap #aboutme > .container > .profile > div > ol > li:last-child {
  border-bottom-width: 0;
}
#wrap > footer {
  min-width: 1200px;
}
@media screen and (max-width:640px) {
  #wrap > footer {
    min-width: 100%;
  }
}
#wrap > footer > .working {
  border-top: 1px solid black;
}
#wrap > footer > .working > p {
  height: 80px;
  padding-left: 7%;
  line-height: 80px;
}
#wrap > footer > .working > p > a {
  margin: 0 30px;
}
#wrap > footer > .working > p > a:hover {
  text-decoration: underline;
}
#wrap > footer > .info {
  background-color: #1a1a1a;
}
#wrap > footer > .info > .container {
  position: relative;
  padding: 45px 7% 40px;
}
#wrap > footer > .info > .container h2,
#wrap > footer > .info > .container p {
  margin-bottom: 15px;
  color: #aaa;
  font-size: 13px;
}
#wrap > footer > .info > .container h2 > a,
#wrap > footer > .info > .container p > a {
  color: #aaa;
}
#wrap > footer > .info > .container h2 > .bar,
#wrap > footer > .info > .container p > .bar {
  margin: 0 10px;
}
#wrap > footer > .info > .container h2:after {
  display: block;
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translate(0, -50%);
  width: 53px;
  height: 68px;
  background-image: url(./../images/footer_logo.png);
  content: "";
}
@media screen and (max-width:640px) {
  #wrap > footer > .info > .container h2:after {
    display: none;
  }
}
@media screen and (max-width:640px) {
  #wrap > footer > .info > .container > p.iam_2 > span {
    display: block;
  }
}
#wrap > aside {
  display: none;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 1000;
}
#wrap > aside > .top {
  display: block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background-color: #52b3d9;
}
#wrap > aside > .top > i {
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */