@charset "UTF-8";

//컬러시스템
$pri-color-1: #2c3e50;
$pri-color-2: #52b3d9;
$pri-color-3: #ffffff;

$sec-color-1: #68c3a3;
$sec-color-2: #333333;
$sec-color-3: #eeeeee;

$point-color-1: #ffc90e;
$point-color-2: #fcf8e3;

#wrap {
	position: relative;
	min-width: 1200px;

	> .loading {
		display: flex;
		justify-content: center;
		align-items: center;

		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1000;
		background-color: $pri-color-3;

		> p {
			// position: absolute;
			// left: 50%;
			// top: 50%;
			width: 64px;
			height: 64px;
			text-indent: -9999px;
			background-image: url(./../images/loading.gif);
			// transform: translate(-50%, -50%);
		}
	} //end of .loading

	> h1 {
		position: absolute;
		left: 50%;
		top: 160px;
		z-index: 100;
		color: $pri-color-3;
		font-size: 24px;
		text-transform: uppercase;
		// border: 1px solid #000;
		transform: translate(-50%, 0);
	} //end of h1

	> #home {
		overflow: hidden;
		position: relative;

		> .intro {
			position: absolute;
			left: 0;
			top: 35%;
			width: 100%;

			text-align: center;
			// border: 1px solid #fff;
			> h2 {
				color: $pri-color-2;
				font-size: 60px;
				line-height: 80px;

				> span {
					color: $sec-color-1;
				}
			} //end of h2
			> p {
				margin-top: 24px;
				color: #fff;
				line-height: 1.8;
				letter-spacing: 1px;
			}
		} //end of .intro
		> .bgmov {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -1;
			width: 100%;
			> video {
				min-width: 100%;
				min-height: 100%;
			}
		} //end of .bgmov
	} //end of #home
} //end of #wrap
